/* font-family: 'Karla', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    margin: 0px;
}

.hero-section{
    width: 100%;
    height: 100vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.464), rgba(0, 0, 0, 0.538)), url(Images/hero-image.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


.hero-first-div{
    position: absolute;
    top: 35%;
    bottom: 15%;
    left: 25%;
    right: 25%;
    /* margin: auto;
    width: 50%;
    display: block; */
    /* padding-top: 250px; */
}

.hero-header1-color{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    text-align: center;
    color: #EC5301;
}


.hero-paragraph{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    padding-top: 20px;
    margin-bottom: 50px;
}


.universal-button{
    display: block;
    margin: 0 auto;
    width: 95px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1.5px;
    border: 1.5px solid #EC5301;
    border-radius: 5px;
    background-color: #EC5301;
    padding: 10px 30px;
}

.donate-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-first-div{
    max-width: 800px;
    width: 100%;
    margin: auto;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-second-div{
    /* margin: auto;
    width: 60%; */
}

.donate-header{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #000000;
}

.donate-paragraph{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 20px;
    margin-bottom: 50px;
}

.donate-third-div{
    display: flex;
    
}

.box-type{
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 50px 30px;
    margin: 10px;
    border-radius: 5px;
    color: #000000;
}

.box-different-type{
    background-color: #FFEEEE;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 50px 30px;
    margin: 10px;
    border: 3px solid #EC5301;
    border-radius: 5px;
    color: #EC5301;
}

.donate-Forth-div{
    
}

.donate-input-amount{
    
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-size: 25px;
    line-height: 35px;
    color: #BDBDBD;
    border-color: #BDBDBD;
    background-color: #ffffff;
}

.donate-plan-section{
    width: 100%;
    height: 100vh;
    background-color: #F9F9F9;
    text-align: center;
    position:relative;
}

.donate-plan-first-div{
    max-width: 1500px;
    width: 100%;
    margin: auto;
    height: 90vh;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.donate-plan-third-div{
    display: flex;
    margin-top: 80px;
}

.donate-plan-forth-div{
    max-width: 400px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 70px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px #eaeaea;
}

.box-image{
    width: 50px;
    height: 50px;
}

.box-title{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #000000;
    padding-top: 20px;
}

.box-paragraph{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 20px;
}

#background-color-forth-div{
    background-color: #EDF5F6;
}

#background-color-fivth-div{
    background-color: #FFEEEE;
}

#background-color-sixth-div{
    background-color: #FFF4D6;
}

.help-section{
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-plan-first-div{
    max-width: 1500px;
    width: 100%;
    margin: auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-section{
    width: 100%;
    height: 70vh;
    background-color: #ffffff;
    text-align: center;
    position:relative;
}

.subscription-first-div{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    max-width: 1200px;
    height: 550px;
}

.subscription-form-width{
    width: 60vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF4D6;
    border-radius: 10px;
}

.subscriber{
    padding: 20px 20px;
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 2px solid #d1d1d1;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    margin-right: -4px;
  }
  
  .subscriber-button{
    padding: 20px 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1.5px;
    border: 1.5px solid #EC5301;
    background-color: #EC5301;
    padding: 18px 40px 20px 40px;
    outline: none;
    cursor: pointer;
  }

.footer{
    width: 100%;
    height: 30vh;
    background-color: #0B0D17;
    text-align: center;
    position:relative;
}

.footer-div{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 150px;
}

.footer-title{
    font-family: 'Lobster', sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    color: #FF5959;
    padding-top: 20px;
}

.footer-paragraph{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    padding-top: 20px;
}